@import '../../mixins/variable';

//header
.header-bar {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 73px;

    .header-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .box-brand {
            display: flex;
            align-items: center;

            .brand {
                height: 53px;
                width: auto;
            }


            .brand-name {
                color: #fff;
                font-weight: 600;

                span {
                    padding-left: 4px;

                    &:last-child {
                        font-weight: normal;
                    }

                }
            }
        }
    }
}

//footer
.footer-bar {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 63px;

    .footer-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .copyright {
            color: #fff;
            font-weight: 300;
            font-size: .9rem;

            span {
                padding-left: 4px;
                font-weight: 600;

            }
        }

        .icon-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            font-size: 1.7rem;
            margin-right: 6px;
            cursor: pointer;
            color: #dfdfdf90;


            &:hover {
                color: $primary-color;
            }
        }
    }
}



.add-box {
    position: relative;

    .addList {
        position: absolute;
        right: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        font-size: 3rem;
        color: #dfdfdf90;
        border: none;
        cursor: pointer;
    }
}

.palete-viewport {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
}

.palete-holder {
    width: 90%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .palete-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        // justify-content: baseline;
    }


    .card-frame {
        width: 200px;
        height: 270px;
        background-color: #fff;
        padding: 10px;
        padding-bottom: 0;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s;

        .color-box {
            width: 100%;
            height: calc(100% - 40px);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .btn-action {
            position: absolute;
            right: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            font-size: 3rem;
            color: #dfdfdf90;
            border: none;
            cursor: pointer;
            // opacity: 0;

            .fas {
                font-size: 2rem;
            }
        }

        .color-code {
            // background-color: red;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            color: #112a43;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 1.2rem;
                margin-right: 5px;
                color: #112a43;
            }

            .copy {
                margin-left: 20px;
                background-color: transparent;
                padding: 10px;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        &:hover .btn-action {
            opacity: 1;
        }

        &:last-child {
            transition: none;
            transform: none;
        }
    }

    .utility-bar {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background-color: #fff;
        border-radius: 5px;


        .btn-tool {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            height: 33px;
            width: 33px;
            position: unset;
            font-size: 1.2rem;
            margin: 6px;
            border-radius: 5px;
            background-color: transparent;
            cursor: pointer;


            &:hover {
                background-color: #d9e3eb;
            }

            i {
                color: #112a43;
            }
        }
    }

}

.main-tool {
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;

    .gen-pal {
        height: 50px;
        background: $primary-color;
        color: #333;
        padding: 0 50px;
        border: none;
        outline: none;
        margin-bottom: 10px;
        border-radius: 2px;
        cursor: pointer;
        font-weight: bold;

    }

    p {
        color: #fff;

        span {
            font-weight: bold;
        }
    }
}

.toaster-copy {
    position: fixed;
    width: fit-content;
    padding: 8px 25px;
    background-color: #231c29;
    color: #F4EEE0;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}